.scroll {
  overflow-y: scroll;
  height: calc(100% - 64px);
  padding-bottom: 64px;
  box-sizing: border-box;
}

#dash {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  margin: 8px;
  align-items: center;
  border-radius: 8px;
  position: relative;
  width: calc(33vw - 64px);
  color: #ffffff;
  background-color: #1976d2;
}

.c-icon {
  padding: 24px;
  background-color: rgba(256, 256, 256, 0.2);
}

.info {
  padding: 12px;
  width: 100%;
}

.c-title {
  font-size: 14px;
}

.c-stat {
  font-size: 17px;
  line-height: 28px;
}

#add-btn {
  float: right;
  margin-bottom: -24px;
  margin-right: 12px;
}

table {
  width: 100%;
  margin-top: 8px;
  background: #fafafa;
}

#checker {
  display: flex;
  margin: 24px;
}

#order {
  height: 44px;
  width: 44px;
  background: #1976d2;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 12px;
}


.loading {
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 100;
}